<h1>About</h1>

<div>
  <h2>Our Mission</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil possimus hic
    explicabo aperiam eius deleniti, ratione est perspiciatis labore vero
    quaerat id nemo. Quo voluptas, reiciendis labore minima incidunt harum!
  </p>
  <img src="https://i.stack.imgur.com/y9DpT.jpg" alt="placeholder img" />
</div>
<div id = "team">
  <h2>Our Team</h2>
  <div id="profiles">
    <div class="profile" id="profile1">
      <img
        width="100"
        src="https://www.nacdnet.org/wp-content/uploads/2016/06/person-placeholder.jpg"
        alt="person placeholder"
      />
      <b>John Smith</b>
      position <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia odio, impedit assumenda accusamus fugiat voluptates.</p>
    </div>
    <div class="profile" id="profile2">
      <img
        width="100"
        src="https://www.nacdnet.org/wp-content/uploads/2016/06/person-placeholder.jpg"
        alt="person placeholder"
      />
      <b>John Smith</b>
      position <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia odio, impedit assumenda accusamus fugiat voluptates.</p>
    </div>
    <div class="profile" id="profile3">
      <img
        width="100"
        src="https://www.nacdnet.org/wp-content/uploads/2016/06/person-placeholder.jpg"
        alt="person placeholder"
      />
      <b>John Smith</b>
      position <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia odio, impedit assumenda accusamus fugiat voluptates.</p>
    </div>
  </div>
</div>
