// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

#order-summ_descr {
  width: 45%;
}

.order-summary table {
  td,
  th {
    padding: 10px;
    padding-left: 0px;
  }
}
