// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

#order-summ_descr {
  width: 45%;
}

.order-summary table {
  td,
  th {
    padding: 10px;
    padding-left: 0px;
  }
}

label {
  font-weight: bold;
}

#team {
  text-align: center;
  padding:10px;
  #profiles {
    padding:20px;
    display: flex;
    flex-direction: row;
    margin:auto;
    justify-content: space-between;
    .profile {
      display: flex;
      flex-direction: column;
      img {
        margin: auto;
      }
      p{
        padding:10px 20px;
      }
    }
  }
}
